player-connection-mode=Listen
player-connection-guid=1738042704
player-connection-debug=0
player-connection-project-name=VR-test
player-connection-ip=192.168.0.199
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
xrsdk-pre-init-library=XRSDKOpenVR
build-guid=bd1a56824452470b8adb47f8999d37cb
